/*big tablet and smarphone*/
@media only screen and (max-width:1200px){
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
      }
      .row{
          padding: 0 2%;
      }

}

/*smal tablet and big tablets*/
@media only screen and (max-width:1023px){
body{
    font-size: 18px;
}
section{
    padding: 60px 0;
}
.long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .step-box{
      margin-top: 10px;
  }
  .step-box:last-child{
    margin-top: 10px;
}
  .works-steps{
      margin-bottom: 40px;
  }
  .works-steps:last-of-type{
    margin-bottom: 80px;
}

.app-screen{
    width: 50%;
}
.icono{
    width: 20px;
}
h4{
    font-size: 80%;
}
.box{
    width: 100%;
    margin-left: 0;
}
.price{
    font-size: 250%;
}
.action-form{
    width: 80%;
}
}

/*smal phones and tablets*/
@media only screen and (max-width:767px){
body{
    font-size: 16px;
}
.movile-icon{
    display: inline-block;
}

.main-nav{
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}
.main-nav li{
    display: block;
}
.main-nav li a:link,
.main-nav li a:visited,
.main-nav li a:hover,
.main-nav li a:active
{
    display: block;
    border: 0;
    padding: 5px 0;
    font-size: 100%;
}
.sticky .movile-icon {
    color:black;
    margin-top: 10px;
  }
  .sticky .main-nav {
    margin-top: 10px;
  }
  
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
    color: #555;
  }

section{
    padding: 30px 0;
}
.row,
.hero-text-box {
    padding: 0 4%;
  }
  .col{
      width: 100%;
      margin:0 0 4% 0;
  }


.long-copy {
    width: 100%;
    margin-left: 0;
  }
  h1{
      font-size: 180%
  }
  h2{
      font-size: 150%;
  }
  .works-steps{
    margin-bottom: 20px;
}

.works-steps div{
   
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 4px;
  font-size: 100%;
  margin-right: 15px;
}
.works-steps:last-of-type{
    margin-bottom: 20px;
}

.app-screen{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

}
/*smal phones*/

@media only screen and (max-width:480px){
section{
    padding:  25px 0;
}

.action-form{
    width: 100%;
}
}